<h1>Who are you ?</h1>
<h2><%= Time.now %></h2>

<ul>
  <% @test_array.each do |username| %>
    <li>
      <%= username %>
    </li>
  <% end %>
</ul> 

<form action="/team/who">
  <label for="fname">First name:</label><br>
  <input type="text" id="fname" name="fname" placeholder="Prénom"><br>
  <label for="lname">Last name:</label><br>
  <input type="text" id="lname" name="lname" placeholder="Nom"><br><br>
  <input type="submit" value="Submit">
</form>
